<p style="color: green"><%= notice %></p>

<h1>Le musée Pitchoun</h1>
<h2>Retrouvez toutes les oeuvres d'art de vos enfants !<h2>

<div id="artworks">
  <% @artworks.each do |artwork| %>
    <%= render artwork %>
    <p>
      <%= link_to "Show this artwork", artwork %>
    </p>
  <% end %>
</div>

<%= link_to "New artwork", new_artwork_path %>
